$beige: #f7f6f2;
$grey: #293338;
$light-grey: rgba(239, 239, 239, 0.42);
$dark-green: #41634a;
$teal: #3aafa0;
$orange: #ff4d00;
$yellow: #ffe100;

$shadow: 0 4px 8px rgba(0, 0, 0, 0.15);

$space: 2.5em;
