.about {
  width: 100%;
  padding: $space;
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: black;

  &__info {
    width: 60%;
    margin-top: 1em;
    & img {
      width: 40%;

      height: auto;
      float: right;
      padding: 1em;
      padding-top: 0;
    }
    @include breakpoint(large) {
      width: 100%;
    }
  }
  @include breakpoint(large) {
    flex-direction: column;
  }
}
