.presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 70%;
  margin: 0 auto;
  padding: $space;
  padding-top: 5em;
  padding-bottom: 5em;
  @include breakpoint(medium) {
    width: 95%;
  }
}
.bg {
  animation: slide 3s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, $teal 50%, $light-grey 50%);
  bottom: 0;
  left: -50%;
  opacity: 0.7;
  position: fixed;
  right: -50%;
  top: 0;
  z-index: -1;
}
