.projects {
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.project {
  display: flex;
  flex-direction: column;
  width: 350px;
  box-shadow: $shadow;
  padding: 1em;
  margin-bottom: $space;
  @include breakpoint(medium) {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
  & img {
    width: 100%;
  }
  & .heading {
    margin: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    & h2 {
      font-size: 2em;
    }
  }
  &:hover {
    cursor: pointer;
    & .heading {
      border-bottom: 5px solid $orange;
    }
  }
}
.img-wrap {
  height: 160px;
  @include breakpoint(medium) {
    height: 200px;
  }
  @include breakpoint(large) {
    height: 250px;
  }
}
