.projects {
  height: 100%;
  margin-top: 1em;
  margin-bottom: 1em;
}
.project {
  display: flex;
  flex-direction: column;
  width: 350px;
  box-shadow: $shadow;
  padding: 1em;
  margin-bottom: 1.5em;
  @include breakpoint(small) {
    width: 95% !important;
    margin: 0 auto;
    margin-bottom: 1.5em;
  }
  @include breakpoint(medium) {
    width: 45%;
  }
  & img {
    width: 100%;
  }
  & .heading {
    margin: 0;
    margin-left: 0.5em;
    margin-top: 0.5em;
    transition: box-shadow 0.3s;
    & h2 {
      font-size: 2em;
    }
  }
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
  }
}
.img-wrap {
  height: 170px;
  padding-bottom: 1em;
  display: flex;
  align-content: center;
}
